.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-block: 5rem;
  margin-inline: 1rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;

  & span {
    word-break: break-word;
  }
}
